<!DOCTYPE html>
<html>
  <head>
    <title>CopyTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <div class="nav-menu">
        <div class="nav-link">
          <%= link_to "鳥さん", root_path %>
        </div>
        <div class="nav-link">
          <%= link_to "ホーム", root_path %>
        </div>
        <div class="nav-link">
          <a href="#">話題を検索</a>
        </div>
        <div class="nav-link">
          <a href="#">通知</a>
        </div>
        <div class="nav-link">
          <a href="#">メッセージ</a>
        </div>
        <div class="nav-link">
          <a href="#">ブックマーク</a>
        </div>
        <div class="nav-link">
          <a href="#">リスト</a>
        </div>
        <div class="nav-link">
          <a href="#">プロフィール</a>
        </div>
        <div class="nav-link">
          <a href="#">もっと見る</a>
        </div>
        <div class="tweet-link">
          <a href="#">ツイートする</a>
        </div>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="right-nav">
      
    </div>
  </body>
</html>
