<!DOCTYPE html>
<html>
  <head>
    <title>CopyTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <div class="nav-menu">
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "twitter lg" %>
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "home lg" %>
            &ensp;ホーム
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "comments lg" %>
            &ensp;話題を検索
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "bell lg" %>
            &ensp;通知
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "envelope lg" %>
            &ensp;話題を検索
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "bookmark lg" %>
            &ensp;ブックマーク
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "list lg" %>
            &ensp;リスト
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "user lg" %>
            &ensp;プロフィール
          <% end %>
        </div>
        <div class="nav-link">
          <%= link_to root_path do %>
            <%= fa_icon "ellipsis-h lg" %>
            &ensp;もっと見る
          <% end %>
        </div>
        <div class="tweet-link">
          <a href="#">ツイートする</a>
        </div>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="right-nav">
      <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索", class: "search-input", autocomplete: 'off' %>
        <%= button_tag type: "submit", class: "btn btn-default btn-s-md" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
